*{
 margin: 0px;
 font-family: "inter";
}

#menusuperior
{
 background-image:url(./assets/Rectangle\ 1.png);
 background: #303030;
}
#titulo-menusuperior
{
 color: #FFFFFF;
 width: 1024px;
 height: 72px;
 margin-left: 62px;
 font-weight: 600;
 font-size: 60px;
 letter-spacing: -0.025em;
 padding-top: 175px; 
}
#texto-menusuperior
{
 color: #FFFFFF;
 margin-left: 62px;
 font-size: 20px;
 font-weight: 500;
 line-height: 28px;
 padding-top: 20px;
 padding-bottom: 150px;
}

#menuinformacional
{
 background-color:#F9F9F9;
 display: grid;
 grid-auto-flow: column;
 columns: auto;
 padding-left: 150px;
 padding-top: 90px;
 padding-bottom: 70px;
}
.textoinformativo
{
 display: flex;
 align-items: center;
}
#menuinformacional span.numero
{
 font-weight: 600px;
 font-size: 40px;
 line-height: 28px;
}
#menuinformacional span.texto
{
 font-weight: 400px;
 font-size: 20px;
 line-height: 28px;
}
#secaoimagem
{
 display: flex;
 align-items: center;
}
#imagem
{
 width: 600px;
 height: 605px;
 margin-top: 75px;
 margin-left: 50px;
 border-radius: 30px 0px 0px 0px;
 margin-bottom: 100px;
}
#secaoimagem span.titulo
{
 font-weight: 500px;
 font-size: 40px;
 line-height: 20px;
 margin-left: 110px;
 color:#000000;
}
#secaoimagem span.texto
{
 font-weight: 100px;
 font-size: 24px;
 line-height: 30px;
 margin-left: 110px;
 color:#000000;
}

#formulario
{
  text-align: center;
  background-color: #303030;
}
#titulofomulario
{
 font-family: 'Inter';
 font-size: 32px;
 font-weight: 700;
 line-height: 48px;
 text-align: center;
 color: #FFFFFF;
 padding-top: 80px;
}
input{
 background-color:#FFFFFF;
 margin-top: 50px;
 width: 508px;
 height: 72px;
 border-radius: 10px
}
#botao
{
 font-family: raleway;
 font-size: 30px;
 font-weight: 700;
 line-height: 30px;
}
button
{
 background: #C07212;
 width: 286px;
 height: 74px;
 border-radius: 10px;
 color: #FFFFFF;
 margin-top: 75px;
 margin-bottom: 50px;
}
button:hover
{
  background-color: #c07212d6;
  transform:translateY(-15px);
  transition-duration: 0.5s;
}